.rootLayout{
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    a{
        color: white;
        text-decoration: none;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            display: flex;
            align-content: center;
            font-weight: bold;
            gap: 8px;

            img{
                width: 32px;
                height: 32px;
            }
        }
    }
    main{
        /* background-color: red; */
        flex: 1;
        overflow: hidden;
    }
}
